@use '../custom' as *;
@use '../components/mixings' as *;

.menu {
    @include gradient;
    @include media-breakpoint-down(sm) {
        .clg-name{
            display: none;

        }
    }
    .clg-name{
        font-size: 1rem;
        padding-left: 1rem;
    }

    .clg-name:hover{
  
            color: $white !important;
    
    }
    li{
        padding: 0 0.7rem;

        a{
            color: $white !important;
            text-transform: capitalize;
            font-weight: 400;
        }

    }
    

        a:hover{
            color: $sky !important;
        }
   
}