@use '../custom' as *;
@use '../components/mixings' as *;

#Overview{
    position: relative;
    top: -80px;
}
.overview{
    position: relative;
    padding: 1rem 0rem;

    .theme{
        position: relative;
        
    
        &-content{
            padding: 0rem;
            margin-top: 0rem;
            p{
                font-size: 1.3rem;

                @include media-breakpoint-up(lg)
                {
                    font-size: 1.6rem;
                }
            }

            @include media-breakpoint-up(lg){
                margin-top: 5rem;
            }
        }

        &__pic{
            max-width: 100%;
        }
    }
    ul{
        list-style: none;
    }

    li::before {content: "•"; color: $navy-blue-light;
        display: inline-block; 
        font-size: 2rem;
        width: 1em;
        margin-left: -1em;
        @include media-breakpoint-down(sm){
            font-size: 1.5rem;
            padding-top: 2rem;
        }
    }
    
}

