@use '../custom' as *;
@use '../components/mixings' as *;

#Register{
    position: relative;
    top: -80px;
}

.register{
    position: relative;
    padding: 10rem 0 0 0;

    width: 100%;
    
    @include media-breakpoint-down(sm){
        padding: 6rem 0 0 0;    
        }

}

.upload{
    position: relative;
    padding: 10rem 0 0 0;

    width: 100%;
    
    @include media-breakpoint-down(sm){
        padding: 6rem 0 0 0;    
        }

}

.register-form {
	padding-bottom: 3rem;
}

.form-container {
    margin-top: 5%;
    margin-bottom: 5%;

    @include media-breakpoint-down(md) {
        margin-top: 15%;
        margin-bottom: 15%;
    }
}

.form-group {
    margin-bottom: 1rem;
}

.btn-pad {
	margin: 1rem;
}

.form-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

.form-row>.col, .form-row>[class*=col-] {
    padding-right: 5px;
    padding-left: 5px;
}

.p-text {
	margin-bottom: 6px !important;
}

.col-md-6.mb-3 {
    @include media-breakpoint-down(md){
        width: 100%;    
        }
}

.error-message {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.footer-fix {
    @include media-breakpoint-up(md){
    position: absolute;
    bottom: 0px;
    width: 100%;
    }

}